html, body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Why is the text half transparant and light grey? */

html {
	color: rgba(0,0,0,1) !important;
}

.mdl-layout__drawer {
	color: rgba(0,0,0,1) !important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	color: rgba(0,0,0,1) !important;
}

.mdl-navigation__link {
	opacity: 1 !important;
}

/* Corrections to the width of the form elements */

.mdl-textfield {
	width: 100%;
}

.mdl-textfield__input {
	padding: 10px 0 4px 0;
}

.mdl-textfield__label i {
	vertical-align: middle;
}
