.navigate-page {
	/*background-color: yellow;*/
}

/******************************************************************************
 *  Sidebar card
 *****************************************************************************/

.vubn-navigate-sidebar-card {
	width: 100%;
}

.vubn-navigate-sidebar-card-container {
	max-width: 100%;
}

.vubn-navigate-sidebar-card .mdl-card__title {
	height: 7em;
	background-color: #e0e0e0;
}

.vubn-navigate-sidebar-card .mdl-card__supporting-text {
	font-size: inherit;
	color: rgba(0, 0, 0, 1);
}

#vubn-drawer-show-navigation {
	width: 100%;
}

.vubn-navigate-sidebar-card-roomtext {
	/*font-weight: bold;*/
}

/******************************************************************************
 *  Search
 *****************************************************************************/

.vubn-navigate-nothingfound {
	color: red;
	font-size: 16px;
}

.vubn-navigate-nothingfound .material-icons {
	vertical-align: bottom;
}

/******************************************************************************
 *  Select
 *****************************************************************************/

.vubn-navigatebutton-container {
	text-align: center;
}

.vubn-navigatebutton {
	max-width: 100%;
	width: 30em;
	height: 4em;
}

.vubn-building-buttons, .vubn-room-buttons {
	margin-bottom: 1em;
}

.vubn-building-buttons button, .vubn-room-buttons button {
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

.vubn-building-buttons .mdl-button {
	font-size: 2em;
	height: 2em;
	width: 2em;
}

.vubn-floor-buttons .mdl-grid .mdl-cell {
	margin-top: 0;
	margin-bottom: 0;
}

.vubn-floor-buttons .button-right {
	text-align: right;
}

.vubn-floor-buttons .button-right button {
	margin-right: 0.5em;
}

.vubn-floor-buttons .button-left {
	text-align: left;
}

.vubn-floor-buttons .button-left button {
	margin-left: 0.5em;
}

/******************************************************************************
 *  Calendar
 *****************************************************************************/

.vubn-calendar-event {
	height: inherit;
	display: block;
	text-align: left;
	line-height: 150%;
	margin-bottom: 1em;
}

.vubn-calendar-event-title {
	display: inline-block;
	font-weight: bold;
	margin-top: 0.5em;
}

.vubn-calendar-event-starttime {
	font-style: italic;
}

.vubn-calendar-event-endtime {
	font-style: italic;
}

.vubn-calendar-event-location {
	display: inline-block;
	margin-bottom: 0.5em;
}

/******************************************************************************
 *  Navigate
 *****************************************************************************/

.vubn-subpage-navigate {
	/* Such that the fixed button does not cover the text */
	margin-bottom: 5em;
}

.vubn-navigate-header-icons .material-icons {
	vertical-align: bottom;
}

.vubn-navigate-busyspinner {
	text-align: center;
}

.vubn-navigate-busyspinner .mdl-spinner {
	width: 4em;
	height: 4em;
}

.vubn-navigate-stop-fixed {
	position: fixed;
	bottom: 1em;
	max-width: 90%;
	left: 50%;
	transform: translateX(-50%);
	height: 3em;
}

.vubn-navigate-mylocation, .vubn-navigate-destination {
	font-weight: bold;
}

/******************************************************************************
 *  Directions
 *****************************************************************************/

.vubn-navigate-direction-text {
		line-height: 150%;
}
