.navigate-page {
	/*background-color: yellow;*/
}

/******************************************************************************
 *  Intro
 *****************************************************************************/

/******************************************************************************
 *  Search
 *****************************************************************************/

.vubn-navigate-search-busyspinner {
	text-align: center;
}

/******************************************************************************
 *  Select
 *****************************************************************************/

.vubn-navigatebutton-container {
	text-align: center;
}

.vubn-navigatebutton {
	max-width: 100%;
	width: 30em;
	height: 4em;
}

.vubn-building-buttons, .vubn-room-buttons {
	margin-bottom: 1em;
}

.vubn-building-buttons button, .vubn-room-buttons button {
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

.vubn-building-buttons .mdl-button {
	font-size: 2em;
	height: 2em;
	width: 2em;
}

.vubn-floor-buttons .mdl-grid .mdl-cell {
	margin-top: 0;
	margin-bottom: 0;
}

.vubn-floor-buttons .button-right {
	text-align: right;
}

.vubn-floor-buttons .button-right button {
	margin-right: 0.5em;
}

.vubn-floor-buttons .button-left {
	text-align: left;
}

.vubn-floor-buttons .button-left button {
	margin-left: 0.5em;
}

.vubn-navigate-select-busyspinner {
	text-align: center;
}

/******************************************************************************
 *  Navigate
 *****************************************************************************/

.vubn-subpage-navigate {
	/* Such that the fixed button does not cover the text */
	margin-bottom: 5em;
}

.vubn-navigate-header-icons .material-icons {
	vertical-align: bottom;
}

.vubn-navigate-busyspinner {
	text-align: center;
}

.vubn-navigate-busyspinner .mdl-spinner {
	width: 4em;
	height: 4em;
}

.vubn-navigate-stop {
	position: fixed;
	bottom: 1em;
	max-width: 90%;
	left: 50%;
	transform: translateX(-50%);
	height: 3em;
}
