/******************************************************************************
 *  Page
 *****************************************************************************/

html {
	font-size: 120%;
}

/******************************************************************************
 *  Header
 *****************************************************************************/

.vubn-header-logo {
	height: 3em;
	width: 3em;
	margin-right: 1em;
}

.vubn-drawer-logo {
	height: 1.5em;
	width: 1.5em;
	margin-right: .5em;
	vertical-align: text-bottom;
}

/******************************************************************************
 *  Pages
 *****************************************************************************/

#vubn-pagecontainer {
	position: relative;
}

.vubn-page {
	height: 300em;
	position: relative;
	top: 0;
	will-change: transform, opacity;
	max-width: 60em;
	margin: 0 auto;
}

.vubn-page-anim-in {
	animation-name: vubn-page-anim-in-frames;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0, .8, .2, 1);
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

.vubn-page-anim-out {
	position: absolute;
	width: 100%;
	animation-name: vubn-page-anim-out-frames;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0, .8, .2, 1);
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes vubn-page-anim-in-frames {
	from {
		opacity: 0;
		transform: translateY(5em);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes vubn-page-anim-out-frames {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 0;
		transform: translateY(5em);
	}
}

.vubn-page-title, .vubn-page-subtitle {
	/*display: block;*/
}

.vubn-page-title {
	font-size: 200%;
	line-height: 120%;
	font-variant: small-caps;
}

.vubn-page-subtitle {
	font-size: 150%;
	line-height: 120%;
	margin-bottom: 0.5em;
	font-variant: small-caps;
}


/******************************************************************************
 *  Subpages
 *****************************************************************************/

.vubn-subpage-back {
	vertical-align: bottom;
}

/******************************************************************************
 *  Extra
 *****************************************************************************/

.hidden {
	display: none;
}

