/******************************************************************************
 *  Header
 *****************************************************************************/

.vubn-header-logo {
	height: 3em;
	width: 3em;
	margin-right: 1em;
}

.vubn-drawer-logo {
	height: 1.5em;
	width: 1.5em;
	margin-right: .5em;
	vertical-align: text-bottom;
}

/******************************************************************************
 *  Extra
 *****************************************************************************/

.hidden {
	display: none;
}

